* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background-color: rgba(29, 14, 46, 0.076);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
h1 {
    margin-bottom: 20px;
    color: #333;
}
#form-pagamento {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}
.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.input-group label {
    font-weight: bold;
    margin-bottom: 5px;
}
.input-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}
#botao-pagamento {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
}
#botao-pagamento:hover {
    background-color: #218838;
}